.pure-menu-heading {
    font-weight: bold;
}

.pure-menu-responsive-toggle {
    float: right;
}

.pure-menu-link {
    padding: 0.3em 0.5em;
}

.pure-menu-is-active .pure-menu-children {
    padding-left: 0.5em;
}