/*csslint adjoining-classes: false, box-model:false*/
.pure-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pure-menu-list,
.pure-menu-item {
    position: relative;
}
.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.pure-menu-item {
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: left;
}
.pure-menu-link,
.pure-menu-heading,
.pure-menu-responsive-toggle {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.pure-menu.pure-menu-horizontal > .pure-menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}


/* FIXED MENU */
.pure-menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


/* HORIZONTAL MENU */
.pure-menu-horizontal {
    width: 100%;
    border-left: none;
    border-right: none;
}

/* Initial menus should be inline-block so that they are horizontal */
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

/* Submenus should still be display: block; */
.pure-menu-item .pure-menu-item {
    display: block;
}

/* RESPONSIVE MENUS */
/* Hide the toggle button by default. It will show on small screen sizes */
.pure-menu-responsive .pure-menu-list {
    display: none;
}

.pure-menu-responsive-toggle {
    display: block;
}

.pure-menu-responsive-toggle:after {
    content: "\25BE";
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
    margin-right: -15px;
    margin-top: -1px;
}

.pure-menu-is-active .pure-menu-list,
.pure-menu-is-active .pure-menu-item {
    display: block;
}

.pure-menu-is-active .pure-menu-separator {
    width: auto;
    height: 1px;
}
