/*adjoining-classes: false*/
@media (max-width: 767px) {
    .pure-menu-responsive .pure-menu-toggle {
        display: block;
    }
    .pure-menu-responsive ul {
        display: none;
    }
    .pure-menu-responsive.pure-menu.active ul {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
    }

}
