.k-button {
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1.5em 0.5em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    *color: #444; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}


.k-button-hover,
.k-button:hover {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#26000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

.k-button-active,
.k-button:active {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 2px 6px rgba(0,0,0, 0.20) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 2px 6px rgba(0,0,0, 0.20) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 2px 6px rgba(0,0,0, 0.20) inset;
}

.k-button[disabled],
.k-button-disabled,
.k-button-disabled:hover,
.k-button-disabled:active {
    cursor: default;
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=55);
    -khtml-opacity: 0.55;
    -moz-opacity: 0.55;
    opacity: 0.55;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset;
}

.k-button-hidden {
    display:none;
}

/* Firefox: Get rid of the inner focus border */
.k-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}


/* Sam */
.k-button-primary,
.k-button-selected,
a.k-button-primary,
a.k-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.k-button:-moz-focusring {
    outline-color: rgba(0, 0, 0, 0.85);
}
