@media only screen and (max-width : 480px) {
	.pure-form button[type='submit'] {
		margin: 0.7em 0 0;
	}

	.pure-form input[type='text'], .pure-form button, .pure-form label {
		margin-bottom: 0.3em;
		display: block;
	}

	.pure-group input[type='text'] {
		margin-bottom: 0;
	}

	.pure-form-aligned .pure-control-group label {
		margin-bottom: 0.3em;
		text-align: left;
		display: block;
		width: 100%;
	}

	.pure-form-aligned .pure-controls {
		margin: 1.5em 0 0 0;
	}

	.pure-form .pure-help-inline {
		display: block;
		font-size: 80%;
		padding: 0.2em 0 0.8em; /* increased bottom padding to make it group with its related input element */
	}
}
