.pure-tile
{
    /* Structure */
    display: table;
    zoom: 1; 
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

/* Firefox: Get rid of the inner focus border */
.pure-tile::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

.pure-tile
{
    font-family: inherit;
    font-size: 100%;
    padding: 11px 19px;
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: none rgba(0, 0, 0, 0); /*IE8 + everything else*/
    background-color: rgb(0, 120, 231);
    color: #fff;
    text-decoration: none; /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

.pure-tile-hover, .pure-tile:hover, .pure-tile:focus
{
    outline: rgba(0, 120, 231, 0.50) solid 2px;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.pure-tile:focus
{
    outline: 0;
}
.pure-tile-active, .pure-tile:active
{
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.pure-button[disabled], .pure-button-disabled, .pure-button-disabled:hover, .pure-button-disabled:focus, .pure-button-disabled:active
{
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.pure-tile-hidden
{
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-tile::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

.pure-tile td
{
    height: 10px;
}

.pure-tile-tiny
{
    width: 70px;
    height: 70px;
    font-size: 2em;
}

.pure-tile-small
{
    width: 159px;
    height: 159px;
    font-size: 4em;
}

.pure-tile-medium
{
    width: 336px;
    height: 336px;
    font-size: 8.5em;
}

.pure-tile-icon
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: inherit;
    overflow: hidden;
}

.pure-tile-count
{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 0.5em;
    width: auto;
}

.pure-tile-title
{
    display: table-footer-group;
    line-height: 8px;
    font-size: medium;
}
