/*
* CSS TABLES
* ==========
* Simple CSS for HTML Tables
* Author: tilomitra
*/

/* foundational CSS */
.yui3-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.yui3-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.yui3-table td,
.yui3-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 6px 12px; /* cell padding */
}
.yui3-table td:first-child,
.yui3-table th:first-child {
    border-left-width: 0;
}

.yui3-table thead {
    background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

/*
striping:
   even - #fff (white)
   odd  - #edf5ff (light blue)
*/
.yui3-table td {
    background-color: transparent;
}
.yui3-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.yui3-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.yui3-table-bordered td {
    border-bottom:1px solid #cbcbcb;
}
.yui3-table-bordered tbody > tr:last-child td,
.yui3-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.yui3-table-horizontal td,
.yui3-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom:1px solid #cbcbcb;
}
.yui3-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
