.pure-u-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-5-24,
.pure-u-7-24,
.pure-u-11-24,
.pure-u-13-24,
.pure-u-17-24,
.pure-u-19-24,
.pure-u-23-24 {
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1 {
    display: block;
}

.pure-u-1-2 {
    width: 50%;
}

.pure-u-1-3 {
    width: 33.33333%;
}

.pure-u-2-3 {
    width: 66.66666%;
}

.pure-u-1-4 {
    width: 25%;
}

.pure-u-3-4 {
    width: 75%;
}

.pure-u-1-5 {
    width: 20%;
}

.pure-u-2-5 {
    width: 40%;
}

.pure-u-3-5 {
    width: 60%;
}

.pure-u-4-5 {
    width: 80%;
}

.pure-u-1-6 {
    width: 16.656%;
}

.pure-u-5-6 {
    width: 83.33%;
}

.pure-u-1-8 {
    width: 12.5%;
}

.pure-u-3-8 {
    width: 37.5%;
}

.pure-u-5-8 {
    width: 62.5%;
}

.pure-u-7-8 {
    width: 87.5%;
}

.pure-u-1-12 {
    width: 8.3333%;
}

.pure-u-5-12 {
    width: 41.6666%;
}

.pure-u-7-12 {
    width: 58.3333%;
}

.pure-u-11-12 {
    width: 91.6666%;
}

.pure-u-1-24 {
    width: 4.1666%;
}

.pure-u-5-24 {
    width: 20.8333%;
}

.pure-u-7-24 {
    width: 29.1666%;
}

.pure-u-11-24 {
    width: 45.8333%;
}

.pure-u-13-24 {
    width: 54.1666%;
}

.pure-u-17-24 {
    width: 70.8333%;
}

.pure-u-19-24 {
    width: 79.1666%;
}

.pure-u-23-24 {
    width: 95.8333%;
}
