.pure-offset-1-2 {
    margin-left: 50%;
}

.pure-offset-1-3 {
    margin-left: 33.33%;
}

.pure-offset-2-3 {
    margin-left: 66.67%;
}

.pure-offset-1-4 {
    margin-left: 25%;
}

.pure-offset-3-4 {
    margin-left: 75%;
}

.pure-offset-1-5 {
    margin-left: 20%;
}

.pure-offset-2-5 {
    margin-left: 40%;
}

.pure-offset-3-5 {
    margin-left: 60%;
}

.pure-offset-4-5 {
    margin-left: 80%;
}

.pure-offset-1-6 {
    margin-left: 16.66%;
}

.pure-offset-5-6 {
    margin-left: 83.33%;
}

.pure-offset-1-8 {
    margin-left: 12.5%;
}

.pure-offset-3-8 {
    margin-left: 37.5%;
}

.pure-offset-5-8 {
    margin-left: 62.5%;
}

.pure-offset-7-8 {
    margin-left: 87.5%;
}

.pure-offset-1-12 {
    margin-left: 8.33%;
}

.pure-offset-5-12 {
    margin-left: 41.67%;
}

.pure-offset-7-12 {
    margin-left: 58.33%;
}

.pure-offset-11-12 {
    margin-left: 91.67%;
}

.pure-offset-1-24 {
    margin-left: 4.17%;
}

.pure-offset-5-24 {
    margin-left: 20.83%;
}

.pure-offset-7-24 {
    margin-left: 29.17%;
}

.pure-offset-11-24 {
    margin-left: 45.83%;
}

.pure-offset-13-24 {
    margin-left: 54.17%;
}

.pure-offset-17-24 {
    margin-left: 70.83%;
}

.pure-offset-19-24 {
    margin-left: 79.17%;
}

.pure-offset-23-24 {
    margin-left: 95.83%;
}
