/*csslint regex-selectors:false, unqualified-attributes:false*/

.pure-g-r {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;

    /*
    Sets the font stack to fonts known to work properly with the above
    letter and word spacings.
    See https://github.com/yui/pure/issues/41/

    The following font stack makes Pure Grid work on all known environments.

    * "Bitstream Charter": Chromebook Pixel running Ubuntu 13.04.

    * Tinos: Chromebook Pixel running Chrome OS. Tinos has to be defined
    before `Helvetica, Arial` to get picked up by the browser, even though
    Helvetica or Arial isn't available in that environment.

    * "Droid Sans": Arch Linux with Chromium 29.x.

    * "DejaVu Sans": A common font available on Ubuntu and other environments
    that acts as a nice fallback

    * Helvetica, Arial, sans-serif: Common font stack on OSX and Windows.

    */
    font-family: "Bitstream Charter", Tinos, "Droid Sans", "DejaVu Sans", Helvetica, Arial, sans-serif;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g-r {
    word-spacing: -0.43em;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.pure-g-r [class *= "pure-u"] {
    font-family: sans-serif;
}

.pure-g-r img {
    max-width: 100%;
}

@media (min-width: 980px) {
    .pure-visible-phone {
        display: none;
    }
    .pure-visible-tablet {
        display: none;
    }
    .pure-hidden-desktop {
        display: none;
    }
}

@media (max-width: 480px) {
    .pure-g-r > .pure-u,
    .pure-g-r > [class *= "pure-u-"] {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .pure-g-r > .pure-u,
    .pure-g-r > [class *= "pure-u-"] {
        width: 100%;
    }
    .pure-hidden-phone {
        display: none;
    }
    .pure-visible-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .pure-hidden-tablet {
        display: none;
    }
    .pure-visible-desktop {
        display: none;
    }
}
