name: Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Release to GitHub Pages
        env:
          DEPLOYMENT_BRANCH: master
          GH_EMAIL: ${{ secrets.GH_EMAIL }}
          GH_NAME: ${{ secrets.GH_NAME }}
          GIT_USER: ${{ secrets.GH_NAME }}
          USE_SSH: true
        run: |
          npm ci
          git config --global user.name "${GH_NAME}"
          git config --global user.email "${GH_EMAIL}"
          cd site
          npm install
          npm run deploy
